.container {
    width: 1000px;
    height: 500px;
    border-radius: 25px;
    background-color: #F8F8FF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 5px #9B46B9;
  }
  
  h1 {
    color: #9B46B9;
    font-size: 55px;
  }
  
  .images-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .image {
    width: 200px;
    height: 200px;
    margin-right: 200px;
  }
  
  .image2 {
    width: 200px;
  }
  
  .button1 {
    margin-right: 300px;
    padding: 10px 20px;
    background-color: #FD2C84;
    color: #F8F8FF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .button2 {
    padding: 10px 20px;
    background-color: #FD2C84;
    color: #F8F8FF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .button1:hover,
  .button2:hover {
    background-color: #9B46B9;
    color: #F8F8FF;
  }

  