
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F8F8FF;
}
/*Navbar*/
.retangulo {
  box-sizing: border-box;
  background: #f8f8ff;
  border-radius: 0px 20px 20px 20px;
  width: 100%;
  height: 179px;
  box-shadow: 0px 5px 4px 5px rgba(250, 229, 248, 1);
  margin-top: -120px
}
.logo img{
width: 90px;
height: 90px;
margin-left: 30px;
margin-top: 30px;
}
.topicos-nav ul{
  flex: 1;
  text-align: left;
  margin-top: -60px;
  margin-left: 200px;
}
.topicos-nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0 40px;
  font-size: 20px;
}
.topicos-nav ul li a{
  text-decoration: none;
  color: #811AA6;
  font-family: 'Roboto Slab', serif;
  position: relative;
}
.topicos-nav ul li a::after {
  content: '';
  width: 100%;
  height: 3px;
  background: #811AA6;
  position: absolute;
  left: 0;
  bottom: 33px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.4s ease;
}

.topicos-nav ul li a:hover::after {
  transform: scaleX(1);
}
.iconenav {
  position: absolute;
  top: 58px;
  left: 1110px;
  color: rgb(152, 21, 218);
  font-size: 22px;
}
.icon-link:hover {
  color: #499FB9;
}
.button-nav {
  font-family: 'Roboto Slab', serif;
  margin-top: -92px;
  margin-left: 1130px;
}

.btn {
  font-weight: bold;
  width: 100px; 
  height: 30px; 
  background: #B9499F;
  border: 2px solid #B9499F;
  outline: none;
  border-radius: 14px;
  cursor: pointer;
  font-size: 14px; 
  color: #ffff;
  margin-left: 40px; 
  margin-right: 5px;
}
.btn:hover {
  background: #F8F8FF;
  color: #B9499F;
}
.btn-registro {
  font-weight: bold;
  width: 115px; 
  height: 32px; 
  background: #B9499F;
  border: 2px solid #B9499F;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px; 
  color: #ffff;
  margin-left: 30px; 
  margin-right: 12px;
}
.btn-registro:hover {
  background: #F8F8FF;
  color: #B9499F;
}
/*Fim-Navbar*/

.mySlides {
  display: none;
}
img {
  border-radius: 20px;
  vertical-align: middle;
}
.slideshow-container {
  padding: 100px 0 0 0;
  max-height: 100px;
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.dot {
  position: absolute;
  height: 15px;
  width: 15px;
  top: -20px;
  margin: 0 2px;
  background-color: #666566;
  border-radius: 50%;
  display: inline-block;
  transition:  0.6s ease;
}
.active {
  background-color: #8f0e8f;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
.profissionais{
  padding: 10px 0 70px 0;
  font-style: normal;
  font-weight: lighter;
  font-size: 50px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  margin-top: 750px;
}
.profissionais h4{
  color: #811AA6;
}
/* Resto das regras CSS... */

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
}

.arrow-container {
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.arrow {
  border-radius: 10px;
  margin-top: -350px;
  width: 40px;
  height: 40px;
  background-color: #B9499F;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.arrow:hover {
  background-color: #499FB9;
}

.arrow i {
  font-size: 20px;
}
.hidden {
  display: none;
}

.nossos p{
  margin-top: 150px;
  font-size: 50px;
  text-align: center;
  color: #811AA6;
  font-family: 'Roboto Slab', sans-serif;
}

.nossos{
  text-align: center;
}
.nossos img{
  padding: 70px 25px ;
}
.nossostopicos #con-baba{
  margin-top: -40px;
  margin-left: 145px;
  font-size: 25px;
  font-family: 'Roboto Slab', sans-serif;
  color: #811AA6;
}

.nossostopicos #trei{
  margin-top: -35px;
  margin-left: 655px;
  font-size: 25px;
  font-family: 'Roboto Slab', sans-serif;
  color: #811AA6;

}
.nossostopicos #con-dia{
  margin-top: -34px;
  margin-left: 1080px;
  font-size: 25px;
  font-family: 'Roboto Slab', sans-serif;
  color: #811AA6;

}
.botao {
  width: 170px;
  height: 40px;
  font-family: 'Roboto Slab', sans-serif;
  display: inline-block;
  padding: 10px 40px;
  background-color: #FD2C84;
  color: #ffffff;
  margin-left: 170px;
  margin-top: 50px;
  text-decoration: none;
  border-radius: 15px;

}
.botao:hover {
  background-color: #499FB9;
}

.bota{
  width: 170px;
  height: 40px;
  font-family: 'Roboto Slab', sans-serif;
  display: inline-block;
  padding: 10px 40px;
  background-color: #FD2C84;
  color: #ffffff;
  margin-left: 310px;
  margin-top: 50px;
  text-decoration: none;
  border-radius: 15px;
}

.bota:hover {
  background-color: #499FB9;
}

.bot{
  width: 170px;
  height: 40px;
  font-family: 'Roboto Slab', sans-serif;
  display: inline-block;
  padding: 10px 40px;
  background-color: #FD2C84;
  color: #ffffff;
  margin-left: 310px;
  margin-top: 50px;
  text-decoration: none;
  border-radius: 15px;
}

.bot:hover {
  background-color: #499FB9;
}

.diferenciais {
  position: relative;
}
.diferenciais p{
  position: relative;
  margin-top: -770px;
  font-size: 50px;
  text-align: center;
  color: #811AA6;
  font-family: 'Roboto Slab', sans-serif;
}

.diferenciais .circulo{
  margin-top: 180px;
  margin-left: 280px;
  border-radius: 50%;
  width: 900px;
  height: 850px;
  filter: blur(5px);
  position: relative;
  background-color: #f6f4d8;
}

.diferenciais img {
  position: absolute;
  margin-top: 370px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quais #aulas{
  font-family: 'Roboto Slab', sans-serif;
  margin-left: 20px;
  margin-top: 70px;
  font-size: 25px;
  color: #ffffff;
}
#edu{
  margin-top: 400px;
  margin-left: 1180px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 25px;
  color: #ffffff;
}
.quais #todo{
  position: absolute;
  margin-left: 15px;
  margin-top: -30px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 23px;
  color: #ffffff;
}

.quais #selo{
  position: absolute;
  margin-top: -510px;
  margin-left: 1230px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 25px;
  color: #ffffff;
}

.fundo{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-top: -730px;
  height: 920px;
  background-color: #FD2C84;
  width: 1465px;
}

.recursos{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-left: 40px;
  margin-top: 200px;
  background-color: #f6f4d8 ;
  width: 1400px;
  height: 650px;
}

.recursos #pri{
  padding: 40px 0 0 0;
  text-align: center;
  font-size: 50px;
  font-family: 'Roboto Slab', sans-serif;
  color: #811AA6;
}

.recursos #ac{
  padding: 20px 0 0 0;
  font-size: 30px;
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
  color: #B9499F;
}

.recursos #veri{
  margin-top: 100px;
  margin-left: 50px;
}

.recursos #ver{
  font-size: 25px;
  font-family: 'Roboto Slab', sans-serif;
  margin-top: -60px;
  margin-left: 160px;
  color: #000000;
}

#docu{
  width: 5%;
  height: 10%;
  margin-top: -50px;
  margin-left: 750px;
}

#doc{
  margin-top: -50px;
  margin-left: 850px;
  font-size: 25px;
  font-family: 'Roboto Slab', sans-serif;
  color: #000000;
}
#carta{
  width: 6%;
  height: 12%;
  margin-top: 100px;
  margin-left: 420px;
}
#cart{
  margin-top: -50px;
  margin-left: 530px;
  font-size: 25px;
  font-family: 'Roboto Slab', sans-serif;
  color: #000000;
}

#avalia{
  margin-top: 70px;
  margin-left: 100px;
}

#avali{
  margin-top: -40px;
  margin-left: 210px;
  font-size: 25px;
  font-family: 'Roboto Slab', sans-serif;
  color: #000000;
}

#mensag{
  width: 5%;
  height: 10%;
  margin-top: -60px;
  margin-left: 850px;
}

#mensa{
  margin-top: -60px;
  margin-left: 950px;
  font-size: 25px;
  font-family: 'Roboto Slab', sans-serif;
  color: #000000;
}


.ret{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  border-radius: 50px;
  margin-left: 135px;
  text-align: center;
  height: 550px;
  width: 1200px;
  background-color: #9B46B9;
}
.no-contatos #contat{
  margin-top: 180px;
  font-size: 50px;
  text-align: center;
  color: #811AA6;
  font-family: 'Roboto Slab', sans-serif;
}

#mu{
  margin-top: -573px;
  margin-left: 70px;
}

.info{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin-top: -430px;
  margin-left: 750px;
  background-color: #FD2C84;
  width: 450px;
  height: 75px;
}

.infos{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin-top: 140px;
  margin-left: 750px;
  background-color: #FD2C84;
  width: 450px;
  height: 85px;
}

#tel{
  margin-top: -548px;
  margin-left: 770px;
}

#tele{
  margin-top: -300px;
  margin-left: 845px;
  font-size: 32px;
  color: #fff;
}

#end{
  width: 5%;
  height: 5%;
  margin-top: 165px;
  margin-left: 765px;
}
#ende{
  margin-top: -60px;
  margin-left: 850px;
  font-size: 22px;
  color: #fff;
}


.textin #cui{
  color: #811aa6;
  text-align: center;
  font: 400 96px "Roboto Slab", sans-serif;
  position: absolute;
  left: 241px;
  top: 490px;
  width: 981px;
  height: 270px;
  font-weight: normal;
  border: #ffffff;
  text-shadow: 2px 2px 0 #ffffff, -2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px -2px 0 #ffffff;
}


/*InicioFooter*/
.footer{
  margin-top: 250px;
  background-color: #499FB9;
  width: 100%;
  height: 200px;
}
.linha{
   margin-top: 65px;
    border-style: solid;
    border-color: #ffffff;
    width: 100%;
    height: 0;
    border-width: 1px 0 0 0;
    position: absolute;
    
}
.nossami p {
  font-weight: lighter;
  font-family: 'Roboto slab', serif;
  font-size: 16px;
  color: #ffff;
  margin-left: 45px;
  padding: 20px 0 0px 0;
}
.topicos {
  list-style-type: none;
  margin: -40px 0 0 350px;
}

.topicos ul li {
  padding: 0 60px 0 40px;
  margin-left: 50px;
  color: #ffff;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  display: inline;
}
.coluna1 ul{
  list-style: none;
  margin-top: 30px;
  text-align: center;
  margin-right: 500px;
}

.coluna1 ul li{
  margin-bottom: 10px;
}

.coluna1 ul li a {
  font-weight: lighter;
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}

.coluna1 ul li a:hover{
  color: #9B46B9;
}
.coluna2 ul{
  margin-left: 15px;
  margin-top: -93px;
  list-style: none;
  text-align: center;
}
.coluna2 ul li{
  margin-bottom: 10px;
}
.coluna2 ul li a {
  font-weight: lighter;
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}
.coluna2 ul li a:hover{
  color: #9B46B9;
}
.coluna3 ul{
  margin-left: 550px;
  margin-top: -120px;
  list-style: none;
  text-align: center;
}
.coluna3 ul li{
  margin-bottom: 10px;
}
.coluna3 ul li a {
  font-weight: lighter;
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 16px
}
.coluna3 ul li a:hover{
  color: #9B46B9;
}
.icons {
  margin-right: 1220px;
  text-align: center;
  margin-top: -75px;
}

.icons a {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  font-size: 26px;
}

.icons a:hover {
  color: #9B46B9;
}
.icons h2{
  font-weight: lighter;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  color: #fff;
  padding: 0 0 20px 0;
}
.direitos-autorais {
  text-decoration: none;
  font-weight: 100;
  font-family: 'Roboto Slab',sans-serif;
  position: absolute;
  right: 14px;
  color: #ffffff;
  font-size: 14px;
}
/*Fim-Footer*/
