@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{

    margin: 0;
    padding: 0;
   
  }
  
  body{
    background-color: #F8F8FF;
  }
  /*Navbar*/
  .retangulo {
    box-sizing: border-box;
    background: #f8f8ff;
    border-radius: 0px 20px 20px 20px;
    width: 100%;
    height: 179px;
    box-shadow: 0px 5px 4px 5px rgba(250, 229, 248, 1);
    margin-top: -120px
  }
  .logo img{
  width: 80px;
  margin-left: 40px;
  margin-top: 30px;
  }
  .topicos-nav ul{
    flex: 1;
    text-align: left;
    margin-top: -60px;
    margin-left: 200px;
  }
  .topicos-nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 40px;
    font-size: 20px;
  }
  .topicos-nav ul li a{
    text-decoration: none;
    color: #811AA6;
    font-family: 'Roboto Slab', serif;
    position: relative;
  }
  .topicos-nav ul li a::after {
    content: '';
    width: 100%;
    height: 3px;
    background: #811AA6;
    position: absolute;
    left: 0;
    bottom: 33px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.4s ease;
  }
  
  .topicos-nav ul li a:hover::after {
    transform: scaleX(1);
  }
  .iconenav {
    position: absolute;
    top:49px;
    left: 1007px;
    color: #811AA6;
    font-size: 22px;
  }
  .icon-link:hover {
    color: #499FB9;
  }
  .button-nav {
    font-family: 'Roboto Slab', serif;
    margin-top: -92px;
    margin-left: 1130px;
  }
  
  .btn {
    font-weight: bold;
    width:100px; 
    height:30px; 
    background: #B9499F;
    border: 2px solid #B9499F;
    outline: none;
    border-radius: 14px;
    cursor: pointer;
    font-size: 14px; 
    color: #ffff;
    margin-left:-65px; 
    margin-right: 5px;
  }
  .btn:hover {
    background: #F8F8FF;
    color: #B9499F;
  }
  button.btn-registro {
    font-weight: bold;
    width:100px; 
    height:30px; 
    background: #B9499F;
    border: 2px solid #B9499F;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px; 
    color: #ffff;
    margin-left:-1px; 
    margin-right:25px;
   
  }

  .btn-registro:hover {
    background: #F8F8FF;
    color: #B9499F;
  }
 
  /*Fim-Navbar*/

  /* main (conteudo) */
  h1{
    font-family: 'Roboto Slab Bold', sans-serif;
    text-align:center;
    padding-top:210px;
    color:#811AA6;
  }
  h2{
    text-align:center;
    padding-top:50px;
    color:#811AA6;
    margin-left:335px;
    margin-top:-90px;

  }
  i.fas.fa-child{
    margin-left:300px;
    margin-top:-100px;
    justify-content: center;
   

  }
  .icone {
    width:90px; /* Ajuste a largura do ícone conforme necessário */
    height:auto; /* Mantém a proporção original da imagem */
     margin-left:235px;
     padding-top:50px;
    justify-content: center;
  }
  h3{
    font-family: 'Roboto Slab Bold', sans-serif;
    color:#811AA6;
  }
  h3.objetivo{
    margin-top:-45px;
    color:#811AA6 ;
  }
  .card{
    position: relative;
    width:750px;
    padding:40px;
    height:135px;
    background-color:#ffdc61; 
    box-shadow: 0 2px 4px rgba(201, 201, 141, 0.48); 
    border-radius:10px;
    text-align:center;
    margin-left:0.2pc;
    margin-top:2pc;
    perspective:1000px; /* Define a perspectiva para a animação 3D */

  }
  
  .card-content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
   color: #000;
  }
  
  .card-back {
    transform: rotateY(180deg);
    background-color:transparent;
    transition:background-color 0.6s;

  }
  .card-back img{
    width:15%;
    height:75%;
    
    object-fit:cover;
    opacity:1;
  }
  
  .card:hover .card-content {
    transform: rotateY(180deg);
  }
  

  .card-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  
  .card-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-info p {
     font-size:15px;
    font-family:'Roboto Slab', sans-serif; 
    color:#0008;
    margin-top:-10px;
  }

  p{
    font-family:'Roboto Slab', sans-serif;;
    margin-left:-20px;

  }

  
  .card:hover {
    opacity: 0.8; /* Altere o valor conforme necessário */
  }
  .card-back.active {
    background-color:#fff;
  }

  /* Inicio estilo conteúdo curso */
  #imagem2 {
   padding-top:120px;
   float:left;
   margin-right:30px;
   width:100%;
   margin-left:-10pc;
  }
  #imagem3{
    padding-top:170px;
    margin-right:50px;
    float: left;
    width:100%;
    margin-left:-10pc;
  }
  #imagem4{
    padding-top:160px;
    margin-right:60px;
    float:left;
    width:100%;
    margin-left:-10pc;

  }
  #imagem5{
    padding-top:160px;
    margin-left:-10pc;
    width:100%;
    float:left;
  }
  #imagem6{
    padding-top:160px;
    margin-left:-10pc;
    width:100%;
    float:left;

  }
  #imagem7{
    padding-top:160px;
    margin-left:-10pc;
    width:100%;
    float:left;
  }
  h1.tit-treinamento{
    display: inline-block;
    text-align:center;
    /* margin-top:-10pc; */
    margin-left:60px;
    margin-top:50px;
  }

  section.card.img {
    width:900px;
    height:500px;
    overflow: hidden;
    margin-left:14pc;
    padding:0;
    overflow: hidden;
    
  }
  
  .card-images {
    display: flex;
    transition: transform 0.2s ease-in-out;
    backface-visibility: hidden;
  }
  
  .card-images img {
    width:100%;
    height:auto;
    object-fit:cover;
    animation: slideImages 6s infinite;
  }
  
  @keyframes slideImages {
    0% {
      transform: translateX(0) rotateY(0deg);
    }
    33.33% {
      transform: translateX(-100%) rotateY(90deg);
    }
    66.66% {
      transform: translateX(-200%) rotateY(180deg);
    }
    100% {
      transform: translateX(0) rotateY(360deg);
    }
  }
  p.tit-aula01{
    margin-left:10px;
    margin-top:10pc;
    font-family:'Roboto Slab Bold'sans-serif;
    color:#811AA6;
    text-align: justify;
    font-size:x-large;
    
  }
  .play-icon {
    margin-left: 860px;
    margin-top: -45px;
    width: 34px;
    height: 35px;
    background-color:#FD2C84;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .play-icon2 {
    margin-left: 860px;
    margin-top: -50px;
    width: 34px;
    height: 35px;
    background-color:#FD2C84;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .play-icon3{
    margin-left: 860px;
    margin-top: -30px;
    width: 34px;
    height: 35px;
    background-color:#FD2C84;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

  }
  .play-icon4{
    margin-left: 860px;
    margin-top: -30px;
    width: 34px;
    height: 35px;
    background-color:#FD2C84;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .play-icon5{
    margin-left: 860px;
    margin-top: -30px;
    width: 34px;
    height: 35px;
    background-color:#FD2C84;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

  }
  
  .play-triangle {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left:18px solid #fff;
    text-decoration: none;
  }

  button.play-icon{
   margin-left:-4pc;
   margin-right:-20px;
   float: right;
   margin-top:15px;
   text-decoration:none;
   cursor: pointer;
   
  }
  button.play-icon2{
   margin-right:-40px;
    margin-top:-357px;
    cursor:pointer;
    float: right;
  }
    button.play-icon3{
      margin-right:-45px;
      margin-top:-385px;
      cursor:pointer;
      float: right;
    }
    button.play-icon4{
      margin-right:-45px;
      margin-top:-395px;
      cursor:pointer;
      float: right;

    }
    button.play-icon5{
      margin-right:-45px;
      margin-top:-385px;
      cursor:pointer;
      float: right;

    }
  
    p.tit-aula01{
    padding-top:-7pc;
    font-family:'Roboto Slab Bold'sans-serif;
    font-size: x-large;
    color:#811AA6;
    margin-top:190px;
    text-align:center;
  
    }
 
  p.tit-aula02{
    padding-top:30pc;
    font-family:'Roboto Slab Bold'sans-serif;
    font-size: x-large;
    color:#811AA6;


  }
  p.tit-aula03{
    padding-top:32pc;
    font-family:'Roboto Slab Bold'sans-serif;
    color:#811AA6;
    font-size:x-large;
    margin-top:-2pc;
    margin-right:-70px;
  }
  p.tit-aula04{
    padding-top:38pc;
    font-family:'Roboto Slab Bold'sans-serif;
    font-size:x-large;
    color: #811AA6;
    margin-right:-70px;
    margin-top:-7pc;

  }
  p.tit-aula05{
    padding-top:38pc;
    font-family:'Roboto Slab Bold'sans-serif;
    font-size:x-large;
    color:#811AA6;
    margin-right:-70px;
    margin-top:-7pc;
  }
  p.subtit-aula01{
    /* padding-top:3pc; */
    font-family:'Roboto Slab Bold'sans-serif;
    font-size:medium;
    color: #000;
    margin-right:-60px;
    text-align: justify;
    margin-left:40pc;
  }
  p.subtit-aula1{
    font-family:'Roboto Slab'sans-serif;
    font-size:120%;
    color: #811AA6;
    margin-right:3pc;
    margin-left:40pc;
  }
  p.subtit-aula2{
    font-family:'Roboto Slab'sans-serif;
    font-size:120%;
    color: #811AA6;
    margin-right:-2px;
    padding-top:1.5pc;
    margin-left:-20px;
  }
  p.subtit-aula02{
    font-family:'Roboto Slab Bold'sans-serif;
    color: #000;
    margin-right:-80px;
    text-align: justify;
   
    /* margin-top:-10pc; */

  }
  p.subtit-aula3{
    font-family:'Roboto Slab'sans-serif;
    font-size:120%;
    color: #811AA6;
    margin-right:-70px;
 

  }
  p.subtit-aula03{
    font-family:'Roboto Slab Bold'sans-serif;
    font-size:100%;
    color: #000;
    margin-left:40pc;
    margin-right:-70px;
  }
  p.subtit-aula4{
    font-family:'Roboto Slab'sans-serif;
    font-size:120%;
    color: #811AA6;
    margin-right:-70px;
  }
  p.subtit-aula04{
    font-family:'Roboto Slab Bold'sans-serif;
    font-size:100%;
    color: #000;
    margin-left:40pc;
    margin-right:-80px;
    

  }
  p.subtit-aula5{
    font-family:'Roboto Slab'sans-serif;
    font-size:120%;
    color: #811AA6;
    margin-right:-70px;

  }
  p.subtit-aula05{
    font-family:'Roboto Slab Bold'sans-serif;
    font-size:100%;
    color: #000;
    margin-left:40pc;
    margin-right:-80px;
  }
 



  
    

  


  
  
  /* InicioFooter
  .footer{
    background-color: #499FB9;
    width: 100%;
    height: 200px;
  }
  .linha{
      border-style: solid;
      border-color: #ffff;
      width: 100%;
      height: 0;
      border-width: 1px 0 0 0;
      position: absolute;
      top: 123%;
  }
  .nossami p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #ffff;
    margin-left: 45px;
    padding: 20px 0 0px 0;
  }
  .topicos {
    list-style-type: none;
    margin: -40px 0 0 350px;
  }
  
  .topicos ul li {
    padding: 0 60px 0 40px;
    margin-left: 50px;
    color: #ffff;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    display: inline;
  }
  .coluna1 ul{
    list-style: none;
    margin-top: 30px;
    text-align: center;
    margin-right: 500px;
  }
  
  .coluna1 ul li{
    margin-bottom: 10px;
  }
  
  .coluna1 ul li a {
    font-weight: lighter;
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
  }
  
  .coluna1 ul li a:hover{
    color: #9B46B9;
  }
  .coluna2 ul{
    margin-left: 15px;
    margin-top: -93px;
    list-style: none;
    text-align: center;
  }
  .coluna2 ul li{
    margin-bottom: 10px;
  }
  .coluna2 ul li a {
    font-weight: lighter;
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
  }
  .coluna2 ul li a:hover{
    color: #9B46B9;
  }
  .coluna3 ul{
    margin-left: 550px;
    margin-top: -120px;
    list-style: none;
    text-align: center;
  }
  .coluna3 ul li{
    margin-bottom: 10px;
  }
  .coluna3 ul li a {
    font-weight: lighter;
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 16px
  }
  .coluna3 ul li a:hover{
    color: #9B46B9;
  }
  .icons {
    margin-right: 1220px;
    text-align: center;
    margin-top: -75px;
  }
  
  .icons a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    font-size: 26px;
  }
  
  .icons a:hover {
    color: #9B46B9;
  }
  .icons h2{
    font-weight: lighter;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    color: #fff;
    padding: 0 0 20px 0;
  }
  .direitos-autorais {
    position: absolute;
    bottom: -305px;
    right: 14px;
    color: #ffffff;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
  } */
  /* FimFooter */