* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F8F8FF;
}

/*Navbar*/
.retangulo {
  box-sizing: border-box;
  background: #f8f8ff;
  border-radius: 0px 20px 20px 20px;
  width: 100%;
  height: 179px;
  box-shadow: 0px 5px 4px 5px rgba(250, 229, 248, 1);
  margin-top: -120px
}

.logo img {
  width: 80px;
  height: 80px;
  margin-left: 30px;
  margin-top: 30px;
}

.topicos-nav ul {
  flex: 1;
  text-align: left;
  margin-top: -60px;
  margin-left: 200px;
}

.topicos-nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 40px;
  font-size: 20px;
}

.topicos-nav ul li a {
  text-decoration: none;
  color: #811AA6;
  font-family: 'Roboto Slab', serif;
  position: relative;
}

.topicos-nav ul li a::after {
  content: '';
  width: 100%;
  height: 3px;
  background: #811AA6;
  position: absolute;
  left: 0;
  bottom: 33px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.4s ease;
}

.topicos-nav ul li a:hover::after {
  transform: scaleX(1);
}

.iconenav {
  position: absolute;
  top: 52px;
  left: 1110px;
  color: rgb(179, 48, 245);
  font-size: 22px;
}

.icon-link:hover {
  color: #499FB9;
}

.button-nav {
  font-family: 'Roboto Slab', serif;
  margin-top: -92px;
  margin-left: 1130px;
}

.btn {
  font-weight: bold;
  width: 100px;
  height: 30px;
  background: #B9499F;
  border: 2px solid #B9499F;
  outline: none;
  border-radius: 14px;
  cursor: pointer;
  font-size: 14px;
  color: #ffff;
  margin-left: 40px;
  margin-right: 5px;
}

.btn:hover {
  background: #F8F8FF;
  color: #B9499F;
}

.btn-registro {
  font-weight: bold;
  width: 115px;
  height: 32px;
  background: #B9499F;
  border: 2px solid #B9499F;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  color: #ffff;
  margin-left: 30px;
  margin-right: 12px;
}

.btn-registro:hover {
  background: #F8F8FF;
  color: #B9499F;
}

/*Fim-Navbar*/
.texth {
  margin-top: 170px;
  text-decoration: none;
  font-size: 50px;
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
  color: #811AA6;
}

.texts {
  margin-top: 100px;
  font-size: 40px;
  font-family: 'Roboto Slab', sans-serif;
  color: #811AA6;
  text-align: center;
}

.textx {
  margin-top: 100px;
  font-size: 40px;
  font-family: 'Roboto Slab', sans-serif;
  color: #811AA6;
  text-align: center;
}

.texti {
  margin-top: 100px;
  font-size: 40px;
  font-family: 'Roboto Slab', sans-serif;
  color: #811AA6;
  text-align: center;
}

.conte {
  border-radius: 20px;
  margin: 20px 0px 0 240px;
  width: 1000px;
  height: 600px;
  background: #f6f6b6;
  display: flex;
}

.conte img {
  border-radius: 20px;
  margin-top: 180px;
  margin-left: 40px;
  max-width: 500px;
  max-height: 300px;
}

.conteu {
  border-radius: 20px;
  margin: 20px 0px 0 240px;
  width: 1000px;
  height: 600px;
  background: #f6f6b6;
  display: flex;
}

.conteu img {
  border-radius: 20px;
  margin-top: 180px;
  margin-left: 40px;
  max-width: 500px;
  max-height: 300px;
}

.conteud {
  border-radius: 20px;
  margin: 20px 0px 0 240px;
  width: 1000px;
  height: 600px;
  background: #f6f6b6;
  display: flex;
}

.conteud img {
  border-radius: 20px;
  margin-top: 180px;
  margin-left: 40px;
  max-width: 500px;
  max-height: 300px;
}

.paraquem {
  margin-left: 285px;
  margin-top: -2110px;
  font-size: 18px;
  font-family: 'Roboto Slab', sans-serif;
  color: #811AA6;
}

.paraquem #pq {
  margin-top: 750px;
  font-size: 18px;
  font-family: 'Roboto Slab', sans-serif;
  color: #811AA6;
}

.paraquem #qp {
  margin-top: 750px;
  font-size: 18px;
  font-family: 'Roboto Slab', sans-serif;
  color: #811AA6;
}

.paraquem #baba {
  font-size: 14px;
  margin-top: -1540px;
  font-family: 'Roboto Slab', sans-serif;
  color: #3c3b3b
}

.paraquem #diarista {
  margin-top: 720px;
  font-size: 14px;
  font-family: 'Roboto Slab', sans-serif;
  color: #3c3b3b
}

.paraquem #educacao {
  margin-top: 720px;
  font-size: 14px;
  font-family: 'Roboto Slab', sans-serif;
  color: #3c3b3b;
}

.titulo {
  margin-top: 50px;
  margin-left: 820px;
  font-size: 20px;
  font-family: 'Roboto Slab', sans-serif;
  color: #811AA6;
}

.titulo #horas {
  font-size: 16px;
  margin-top: 10px;
  margin-left: 290px;
  color: #000000;
}

.titulo #ad {
  margin-left: 20px;
  margin-top: -860px;
  font-size: 20px;
  font-family: 'Roboto Slab', sans-serif;
  color: #811AA6;
}

.titulo #horax {
  margin-top: 8px;
  color: #000000;
  margin-left: 276px;
  font-size: 16px
}

.titulo #ab {
  font-size: 20px;
  margin-left: 40px;
  margin-top: -840px;
  color: #811AA6;
}

.titulo #horaz {
  margin-top: 8px;
  margin-left: 269px;
  font-size: 16px;
  color: #000000;
}

.icons1 {
  margin-top: 150px;
  margin-left: 820px;
  font-size: 35px;
}

.icons2 {
  margin-left: 840px;
  margin-top: -830px;
  font-size: 35px;
}

.icons3 {
  margin-left: 860px;
  margin-top: -830px;
  font-size: 35px;
}
.botao {
  width: 150px;
  font-family: 'Roboto Slab', sans-serif;
  display: inline-block;
  padding: 12px 40px;
  background-color: #B9499F;
  color: #ffffff;
  margin-left: 1000px;
  margin-top: 130px;
  text-decoration: none;
  border-radius: 15px;

}
.botao:hover {
  background-color: #FD2C84;
}
.botao2{
  color: #ffffff;
  font-family: 'Roboto Slab', sans-serif;
  background-color: #B9499F;
  text-decoration: none;
  border-radius: 15px;
  margin-left: 1000px;
  width: 150px;
  display: inline-block;
  padding: 12px 40px;
  margin-top: 740px;
}
.botao2:hover {
  background-color: #FD2C84;
}
.botao3{
  color: #ffffff;
  font-family: 'Roboto Slab', sans-serif;
  background-color: #B9499F;
  text-decoration: none;
  border-radius: 15px;
  margin-left: 1000px;
  width: 150px;
  display: inline-block;
  padding: 12px 40px;
  margin-top: 740px;
}
.botao3:hover {
  background-color: #FD2C84;
}
.play-icon {
  margin-left: 860px;
  margin-top: -45px;
  width: 40px;
  height: 40px;
  background-color: #FD2C84;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-triangle {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 18px solid #fff;
}
/*InicioFooter*/
.footer{
  margin-top: 250px;
  background-color: #499FB9;
  width: 100%;
  height: 200px;
}
.linha{
    border-style: solid;
    border-color: #ffffff;
    width: 100%;
    height: 0;
    border-width: 1px 0 0 0;
    position: absolute;
    margin-top: 65px;
}
.nossami p {
  font-family: 'Roboto slab', serif;
  font-size: 16px;
  color: #ffff;
  margin-left: 45px;
  padding: 20px 0 0px 0;
}
.topicos {
  list-style-type: none;
  margin: -35px 0 0 350px;
}

.topicos ul li {
  padding: 0 60px 0 40px;
  margin-left: 50px;
  color: #ffff;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  display: inline;
}
.coluna1 ul{
  list-style: none;
  margin-top: 30px;
  text-align: center;
  margin-right: 500px;
}

.coluna1 ul li{
  margin-bottom: 10px;
}

.coluna1 ul li a {
  font-weight: lighter;
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}

.coluna1 ul li a:hover{
  color: #9B46B9;
}
.coluna2 ul{
  margin-left: 15px;
  margin-top: -93px;
  list-style: none;
  text-align: center;
}
.coluna2 ul li{
  margin-bottom: 10px;
}
.coluna2 ul li a {
  font-weight: lighter;
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}
.coluna2 ul li a:hover{
  color: #9B46B9;
}
.coluna3 ul{
  margin-left: 550px;
  margin-top: -120px;
  list-style: none;
  text-align: center;
}
.coluna3 ul li{
  margin-bottom: 10px;
}
.coluna3 ul li a {
  font-weight: lighter;
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 16px
}
.coluna3 ul li a:hover{
  color: #9B46B9;
}
.icons {
  margin-right: 1220px;
  text-align: center;
  margin-top: -75px;
}

.icons a {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  font-size: 26px;
}

.icons a:hover {
  color: #9B46B9;
}
.icons h2{
  font-weight: lighter;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  color: #fff;
  padding: 0 0 20px 0;
}
.direitos-autorais {
  margin-top: -4px;
  text-decoration: none;
  font-weight: 100;
  font-family: 'Roboto Slab',sans-serif;
  position: absolute;
  right: 14px;
  color: #ffffff;
  font-size: 14px;
  margin-top: -5px;
}
/*FimFooter*/

