*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color: #F8F8FF;
  }
  /*Navbar*/
  .retangulo {
    box-sizing: border-box;
    background: #f8f8ff;
    border-radius: 0px 20px 20px 20px;
    width: 100%;
    height: 179px;
    box-shadow: 0px 5px 4px 5px rgba(250, 229, 248, 1);
    margin-top: -120px
  }
  .logo img{
  width: 90px;
  height: 90px;
  margin-left: 30px;
  margin-top: 30px;
  }
  .topicos-nav ul{
    flex: 1;
    text-align: left;
    margin-top: -60px;
    margin-left: 200px;
  }
  .topicos-nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 40px;
    font-size: 20px;
  }
  .topicos-nav ul li a{
    text-decoration: none;
    color: #811AA6;
    font-family: 'Roboto Slab', serif;
    position: relative;
  }
  .topicos-nav ul li a::after {
    content: '';
    width: 100%;
    height: 3px;
    background: #811AA6;
    position: absolute;
    left: 0;
    bottom: 33px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.4s ease;
  }
  
  .topicos-nav ul li a:hover::after {
    transform: scaleX(1);
  }
  .iconenav {
    position: absolute;
    top: 63px;
    left: 1110px;
    color: rgb(152, 21, 218);
    font-size: 22px;
  }
  .icon-link:hover {
    color: #499FB9;
  }
  .button-nav {
    font-family: 'Roboto Slab', serif;
    margin-top: -92px;
    margin-left: 1130px;
  }
  
  .btn {
    font-weight: bold;
    width: 100px; 
    height: 30px; 
    background: #B9499F;
    border: 2px solid #B9499F;
    outline: none;
    border-radius: 14px;
    cursor: pointer;
    font-size: 14px; 
    color: #ffff;
    margin-left: 40px; 
    margin-right: 5px;
  }
  .btn:hover {
    background: #F8F8FF;
    color: #B9499F;
  }
  .btn-registro {
    font-weight: bold;
    width: 115px; 
    height: 32px; 
    background: #B9499F;
    border: 2px solid #B9499F;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px; 
    color: #ffff;
    margin-left: 30px; 
    margin-right: 12px;
  }
  .btn-registro:hover {
    background: #F8F8FF;
    color: #B9499F;
  }
  /*Fim-Navbar*/

  .titulo{
    padding: 0 0 80px 0;
    margin-top: 160px;
    text-align: center;
    font-size: 40px;
    color: #811AA6;
    font-family: 'Roboto Slab', serif;
}

.qua1{
  border: 2px solid #B9499F ;
  border-radius: 15px;
  margin-left: 90px;
  margin-top: 20px;
  background-color: #F8F8FF;
  height: 170px;
  width: 1100px;
}

.qua2{
  border-radius: 15px;
  margin-left: 310px;
  margin-top: 110px;
  border: 2px solid #B9499F ;
  background-color: #F8F8FF;
  height: 280px;
  width: 1100px;
}

.qua3{
  border: 2px solid #B9499F ;
  border-radius: 15px;
  margin-left: 150px;
  margin-top: 100px;
  background-color: #F8F8FF;
  height: 230px;
  width: 1100px;
}
#quem{
  padding: 20px 0 0 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  color: #B9499F;
  font-size: 30px;
}
#que{
  font-weight: lighter;
  margin-left: 30px;
  margin-top: 50px;
  font-family: 'Roboto Slab', sans-serif;
  color: #B9499F;
  font-size: 20px;
}

/*InicioFooter*/
.footer{
  margin-top: 200px;
  background-color: #499FB9;
  width: 100%;
  height: 200px;
}
.linha{
   margin-top: 65px;
    border-style: solid;
    border-color: #ffffff;
    width: 100%;
    height: 0;
    border-width: 1px 0 0 0;
    position: absolute;
    
}
.nossami p {
  font-weight: lighter;
  font-family: 'Roboto slab', serif;
  font-size: 16px;
  color: #ffff;
  margin-left: 45px;
  padding: 20px 0 0px 0;
}
.topicos {
  list-style-type: none;
  margin: -40px 0 0 380px;
}

.topicos ul li {
  padding: 0 60px 0 40px;
  margin-left: 50px;
  color: #ffff;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  display: inline;
}
.coluna1 ul{
  list-style: none;
  margin-top: 30px;
  text-align: center;
  margin-right: 500px;
}

.coluna1 ul li{
  margin-bottom: 10px;
}

.coluna1 ul li a {
  font-weight: lighter;
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}

.coluna1 ul li a:hover{
  color: #9B46B9;
}
.coluna2 ul{
  margin-left: 15px;
  margin-top: -93px;
  list-style: none;
  text-align: center;
}
.coluna2 ul li{
  margin-bottom: 10px;
}
.coluna2 ul li a {
  font-weight: lighter;
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}
.coluna2 ul li a:hover{
  color: #9B46B9;
}
.coluna3 ul{
  margin-left: 550px;
  margin-top: -120px;
  list-style: none;
  text-align: center;
}
.coluna3 ul li{
  margin-bottom: 10px;
}
.coluna3 ul li a {
  font-weight: lighter;
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 16px
}
.coluna3 ul li a:hover{
  color: #9B46B9;
}
.icons {
  margin-right: 1220px;
  text-align: center;
  margin-top: -75px;
}

.icons a {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  font-size: 26px;
}

.icons a:hover {
  color: #9B46B9;
}
.icons h2{
  font-weight: lighter;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  color: #fff;
  padding: 0 0 20px 0;
}
.direitos-autorais {
  text-decoration: none;
  font-weight: 100;
  font-family: 'Roboto Slab',sans-serif;
  position: absolute;
  right: 14px;
  color: #ffffff;
  font-size: 14px;
  margin-top: -5px;
}
/*Fim-Footer*/